body{
    margin:0;
    font-family: Arial;
    background:#cfcfcf;
}


header{
    text-align:center;
    padding:20px;
    background:#e6e6e6;
    border-bottom:4px solid #9e9e9e;
}


nav{
    text-align:center;
    background:#d9e6e6;
    padding:8px;
    border-bottom:4px solid #9e9e9e;
}


nav a{
    text-decoration:none;
    color:black;
    margin:5px;
    padding:5px 12px;
    border:1px solid #999;
    background:#e6f2f2;
    display:inline-block;
    transition:0.3s;
}


nav a:hover{
    background:#bcdcdc;
}


.container{
    width:95%;
    margin:auto;
}

.card{
    background:#f2f2f2;
    margin:15px 0;
    padding:15px;
    border:4px solid #9e9e9e;
    transition:0.3s;
}


.card:hover{
    background:#e0e0e0;
}


.card img{
    width:250px;
    border:2px solid #ccc;
    margin-top:10px;
}


footer{
    text-align:center;
    padding:10px;
    background:#e6e6e6;
    border-top:4px solid #9e9e9e;
}